<div class="computers__container">

  <h2 class="text-center title__computers">
    Select the computer to monitor
  </h2>

  {{#if computers}}
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2 justify-content-evenly">
      {{#each computers}}
        <div class="col me-4">
          <div class="card__computers" style="width: 18rem;">
            <div class="overlay"></div>
            <div class="card-body pt-2">
              <h6 class="card-title fw-bold">{{this.name}}</h6>
              <div class="body__details">
                <p class="card-text">{{this.role}}</p>
                <p class="card-text">
                  {{this.ip}}
                </p>
                <i class="bi bi-laptop-fill"></i>
              </div>
            </div>

            <div class="separator">

            </div>
            <div class="card__footer">
              <a href="computers/{{this.ip}}/show" class="me-1">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a href="computers/{{this.ip}}/edit" class="ms-1">
                <i class="bi bi-pencil-square"></i>
              </a>
            </div>

          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="my-4 text-success text-center">
      <h4>There are no computers within the monitoring system</h4>
      <a href="/computers/create" class="btn btn-success mt-5 animation">
        <i class="bi bi-plus-lg"></i>
        Create computer
      </a>
      <i class="bi bi-hand-index-thumb-fill d-block hand"></i>
    </div>
  {{/if}}
</div>